<style>
  .data-2 .control-label{
    text-align: left;
  }
</style>
<div class="box box-success data-2" box-auto-scroll box-auto-child=".scroll-content" box-auto-offset="-56">
  <div class="box-header with-border">
    <h3 class="box-title">
      {{state.workState === STATES.EDIT_DATA ? '编辑枯黄期样地' : ''}}
      {{state.workState === STATES.CREATE_DATA ? '添加枯黄期样地' : ''}}
      {{state.workState === STATES.VIEW_DATA ? '查看枯黄期样地' : ''}}
      <small ng-if="state.workState === STATES.EDIT_DATA || state.workState === STATES.VIEW_DATA">
        编号：{{state.currentData}}
      </small>
    </h3>
  </div>
  <div class="box-body no-padding">
    <form class="form-horizontal" novalidate>
      <div class="box-body scroll-content">
        <h4 class="with-border"><span>基本信息</span></h4>
        <div class="form-group-sm clearfix">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">调查时间：</label>
            <div class="input-group w-130">
              <input ng-disabled="state.workState === STATES.VIEW_DATA"
                     type="text" class="form-control datepicker-bootstrap"
                     uib-datepicker-popup
                     ng-model="data.dataParam.S_TIME"
                     is-open="__dateIsOpen0"
                     datepicker-options="dateOptions"
                     show-button-bar="false"
                     required
                  />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="__dateIsOpen0=!__dateIsOpen0"
                        ng-disabled="state.workState === STATES.VIEW_DATA"
                    ><i class="fa fa-calendar"></i></button>
              </span>
            </div>
          </div>
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">调查人：</label>
            <div class="pull-left w-130">
              <input type="text" class="form-control"
                     ng-disabled="state.workState === STATES.VIEW_DATA"
                     ng-model="data.dataParam.S_PERSON"
                  />
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">数据编号：</label>
            <div class="pull-left w-130">
              <input ng-disabled="state.workState === STATES.VIEW_DATA"
                     type="text" class="form-control"
                     ng-model="data.dataParam.S_NAME"
                  />
            </div>
          </div>
        </div>

        <div class="clearfix">
          <div class="pull-left">
            <div class="form-group-sm clearfix margin-t-10">
              <div class="clearfix pull-left margin-r-10">
                <label class="pull-left control-label">所在地区：</label>
                <div class="pull-left" style="width: 195px;">
                  <input type="text" ng-disabled="state.workState === STATES.VIEW_DATA"
                         uib-typeahead="address as address.name for address in getLocation($viewValue)"
                         class="form-control"
                         ng-model="tmp.region"
                         ng-blur="onRegionBlur()"
                         typeahead-min-length="0"
                      >
                </div>
              </div>
              <div class="clearfix pull-left">
                <label class="pull-left control-label" style="min-width: 45px;">乡镇：</label>
                <div class="pull-left" style="width: 90px;">
                  <input ng-disabled="state.workState === STATES.VIEW_DATA"
                         type="text" class="form-control"
                         ng-model="data.dataParam.TOWN_NAME"
                      />
                </div>
              </div>
            </div>
            <div class="form-group-sm clearfix margin-t-10">
              <div class="clearfix pull-left margin-r-20">
                <label class="pull-left control-label">东经：</label>
                <div class="pull-left w-130">
                  <input type="text" class="form-control"
                         ng-disabled="state.workState === STATES.VIEW_DATA"
                         ng-model="data.dataParam.S_LON"
                      />
                </div>
              </div>
              <div class="clearfix pull-left margin-r-20">
                <label class="pull-left control-label">北纬：</label>
                <div class="pull-left w-130">
                  <input ng-disabled="state.workState === STATES.VIEW_DATA"
                         type="text" class="form-control"
                         ng-model="data.dataParam.S_LAT"
                      />
                </div>
              </div>
            </div>
            <div class="form-group-sm clearfix margin-t-10">
              <div class="clearfix pull-left">
                <label class="pull-left control-label">海拔：</label>
                <div class="pull-left w-130">
                  <input ng-disabled="state.workState === STATES.VIEW_DATA"
                         type="text" class="form-control"
                         ng-model="data.dataParam.S_HEIGHT"
                      />
                </div>
              </div>
            </div>
          </div>
          <div class="pull-left">
            <div class="form-group-sm clearfix margin-t-10">
              <div class="pull-left margin-r-20">
                <div class="image-wrapper">
              <span class="image-tooltip text-gray">
                <i class="fa fa-file-image-o"></i><br/>
                <small>请选择景观照片文件</small>
              </span>
                  <a ng-click="$parent.showLightBox(tmp.file.$ngfBlobUrl || tmp.file.$ngfDataUrl || tmp._img)" href="javascript:;">
                    <img uib-tooltip="点击查看原图"
                         style="width:100%; height: 100%;"
                         ngf-src="tmp.file || tmp._img"
                        >
                  </a>
              <span class="image-control"
                    ngf-select ng-model="tmp.file" name="file" ngf-pattern="'image/*'"
                    accept="image/*" ngf-max-size="20MB"
                    ng-hide="state.workState === STATES.VIEW_DATA"
                  >
                选择文件
              </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4 class="with-border"><span>概况</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">草地类：</label>
            <div class="pull-left">
              <input type="text" ng-disabled="state.workState === STATES.VIEW_DATA"
                     ng-model="tmp.grassBTypeWK"
                     uib-typeahead="type as type.TYPE_NAME for type in getGrassBType($viewValue)"
                     class="form-control"
                     ng-blur="onTypeBBlur()"
                     typeahead-min-length="0"
                  >
            </div>
          </div>
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">草地型：</label>
            <div class="pull-left" style="width: 250px;">
              <input type="text" ng-disabled="state.workState === STATES.VIEW_DATA || !data.dataParam.GRASS_BG_TYPE_ID"
                     ng-model="tmp.grassSTypeWK"
                     uib-typeahead="type as type.TYPE_NAME for type in getGrassSType($viewValue, data.dataParam.GRASS_BG_TYPE_ID)"
                     class="form-control"
                     ng-blur="onTypeSBlur()"
                     typeahead-min-length="0"
                  >
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">地形地貌：</label>
            <div class="pull-left margin-r-20 radio">
              <label ng-repeat="opt in CONST.OPT_DXDM" class="margin-r-5">
                <input
                    icheck type="radio" name="dxdm"
                    ng-disabled="state.workState === STATES.VIEW_DATA"
                    ng-model="data.dataParam.S_GEOM"
                    value="{{opt.value}}"
                    />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>

        <span class="data-2-mc">
          <div class="form-group-sm clearfix margin-t-10">
            <div class="clearfix pull-left margin-r-5">
              <label class="pull-left control-label">主要牧草类：</label>
              <div class="pull-left" style="width: 250px">
                <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.S_MAIN_PLANT"/>
              </div>
            </div>
            <span class="pull-left control-label">
              （2-3种）
            </span>
          </div>
          <div class="form-group-sm clearfix margin-t-10">
            <div class="clearfix pull-left margin-r-20">
              <label class="pull-left control-label">预期50%枯黄率时间：</label>
              <div class="pull-left w-145">
                <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.S_YELLOW_TIME"/>
              </div>
            </div>
            <div class="clearfix pull-left margin-r-20">
              <label class="pull-left control-label">与上年年比较：</label>
              <div class="pull-left w-145 margin-r-5">
                <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.S_YELLOW_COMPA"/>
              </div>
              <span class="pull-left control-label">
                （提前/推迟XX天）
              </span>
            </div>
          </div>
        </span>


        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">利用方式：</label>
            <div class="pull-left margin-r-20 radio">
              <label ng-repeat="opt in CONST.OPT_LYFS" class="margin-r-5">
                <input
                    icheck type="radio" name="lyfs"
                    ng-disabled="state.workState === STATES.VIEW_DATA"
                    ng-model="data.dataParam.S_USE_TYPE"
                    value="{{opt.value}}"
                    />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>

        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">备注：</label>
            <div class="pull-left w-145">
              <textarea
                  style="width: 400px;"
                  rows="3"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  type="text" class="form-control"
                  ng-model="data.dataParam.S_REMARK">
              </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <span ng-include="'save-edit-buttons.html'"></span>
        <span ng-include="'check-form.html'"></span>

        <div class="pull-right"
             ng-hide="state.workState === STATES.EDIT_DATA ||
                      state.workState === STATES.CREATE_DATA ||
                      state.workStateSuper === STATES.CHECK_DATA"
             ng-click="onCreateDataClick('16')"
            >
          <button type="button"
                  ng-disabled="!canEdit()"
                  class="btn btn-default">
            添加枯黄期样方
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
