<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">添加非工程样地</h3>
  </div>
  <div class="box-body no-padding">
    <form class="form-horizontal">
      <div class="box-body">
        <h4 class="with-border"><span>基本信息</span></h4>
        <div class="form-group-sm clearfix">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">调查时间：</label>
            <div class="pull-left">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">样地编号：</label>
            <div class="pull-left">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">调查人：</label>
            <div class="pull-left">
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-10">
            <label class="pull-left control-label">样地所在行政区：</label>
            <div class="pull-left margin-r-5">
              <select class="form-control"> <option>全国</option> <option>北京</option> </select>
            </div>
            <span class="pull-left control-label margin-r-5">省（自治区）</span>
            <div class="pull-left margin-r-5">
              <select class="form-control"> <option>巴林左旗</option> </select>
            </div>
            <span class="pull-left control-label margin-r-5">市</span>
            <div class="pull-left margin-r-5">
              <select class="form-control"> <option>喀喇沁旗</option> </select>
            </div>
            <span class="pull-left control-label margin-r-5">县</span>
            <div class="pull-left margin-r-5">
              <input type="text" class="form-control" style="width: 100px;"/>
            </div>
            <span class="pull-left control-label margin-r-5">乡</span>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">建成时间：</label>
          <div class="pull-left margin-r-20">
            <input type="text" class="form-control" />
          </div>
          <label class="pull-left control-label">景观照片编号：</label>
          <div class="pull-left">
            <input type="file" class="form-control" />
          </div>
        </div>
        <h4 class="with-border"><span>类型</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">草地类：</label>
          <div class="pull-left margin-r-20">
            <input type="text" class="form-control" />
          </div>
          <label class="pull-left control-label">草地型：</label>
          <div class="pull-left margin-r-20">
            <input type="text" class="form-control" />
          </div>
          <label class="pull-left control-label">具有灌木和高大草木：</label>
          <div class="pull-left radio">
            <label class=" margin-r-5"><input type="radio" name="gm" /><span>有</span></label>
            <label><input type="radio" name="gm" /><span>无</span></label>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">地貌：</label>
            <div class="pull-left margin-r-20 radio">
              <label class=" margin-r-5"><input type="radio" name="dm" /><span>平原</span></label>
              <label class=" margin-r-5"><input type="radio" name="dm" /><span>山地</span></label>
              <label class=" margin-r-5"><input type="radio" name="dm" /><span>丘陵</span></label>
              <label class=" margin-r-5"><input type="radio" name="dm" /><span>高原</span></label>
              <label class=" margin-r-5"><input type="radio" name="dm" /><span>盆地</span></label>
            </div>
            <label class="pull-left control-label">土壤质地：</label>
            <div class="pull-left radio">
              <label class=" margin-r-5"><input type="radio" name="zd" /><span>砾石质</span></label>
              <label class=" margin-r-5"><input type="radio" name="zd" /><span>沙土</span></label>
              <label class=" margin-r-5"><input type="radio" name="zd" /><span>壤土</span></label>
              <label class=" margin-r-5"><input type="radio" name="zd" /><span>粘土</span></label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">坡向：</label>
          <div class="pull-left margin-r-20 radio">
            <label class=" margin-r-5"><input type="radio" name="px" /><span>阴坡</span></label>
            <label class=" margin-r-5"><input type="radio" name="px" /><span>阳坡</span></label>
            <label class=" margin-r-5"><input type="radio" name="px" /><span>半阴坡</span></label>
            <label class=" margin-r-5"><input type="radio" name="px" /><span>半阳坡</span></label>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">坡位：</label>
            <div class="pull-left radio">
              <label class=" margin-r-5"><input type="radio" name="pw" /><span>坡顶</span></label>
              <label class=" margin-r-5"><input type="radio" name="pw" /><span>坡上部</span></label>
              <label class=" margin-r-5"><input type="radio" name="pw" /><span>坡中部</span></label>
              <label class=" margin-r-5"><input type="radio" name="dm" /><span>坡下部</span></label>
            </div>
          </div>
        </div>
        <h4 class="with-border"><span>地表特征</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">枯落物情况：</label>
            <div class="pull-left margin-r-20 radio">
              <label class=" margin-r-5"><input type="radio" name="klw" /><span>有</span></label>
              <label class=""><input type="radio" name="klw" /><span>无</span></label>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">覆沙情况：</label>
            <div class="pull-left margin-r-20 radio">
              <label class=" margin-r-5"><input type="radio" name="fs" /><span>有</span></label>
              <label class=""><input type="radio" name="fs" /><span>无</span></label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">侵蚀情况：</label>
            <div class="pull-left margin-r-20 radio">
              <label class=" margin-r-5"><input type="radio" name="qs" /><span>有</span></label>
              <label class=""><input type="radio" name="qs" /><span>无</span></label>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">侵蚀原因：</label>
            <div class="pull-left margin-r-20 radio">
              <label class="margin-r-5"><input type="radio" name="qsyy" /><span>风蚀</span></label>
              <label class="margin-r-5"><input type="radio" name="qsyy" /><span>水蚀</span></label>
              <label class="margin-r-5"><input type="radio" name="qsyy" /><span>冻蚀</span></label>
              <label class="margin-r-5"><input type="radio" name="qsyy" /><span>超载</span></label>
              <label class="margin-r-5"><input type="radio" name="qsyy" /><span>其他</span></label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">盐碱斑：</label>
            <div class="pull-left margin-r-20 radio">
              <label class=" margin-r-5"><input type="radio" name="yjb" /><span>有</span></label>
              <label class=""><input type="radio" name="yjb" /><span>无</span></label>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">裸地面积比例：</label>
            <div class="pull-left radio">
              <label class=" margin-r-5"><input type="radio" name="ldmj" /><span>0 ~ 5%</span></label>
              <label class=""><input type="radio" name="ldmj" /><span>5 ~ 50%</span></label>
            </div>
          </div>
        </div>
        <h4 class="with-border"><span>水分条件</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">体表有无季节性缺水：</label>
            <div class="pull-left margin-r-20 radio">
              <label class=" margin-r-5"><input type="radio" name="jjxqs" /><span>有</span></label>
              <label class=""><input type="radio" name="jjxqs" /><span>无</span></label>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">年平均降水量：</label>
            <div class="pull-left margin-r-5">
              <input type="text" class="form-control" />
            </div>
            <span class="pull-left control-label">mm</span>
          </div>
        </div>
        <h4 class="with-border"><span>利用</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">利用方式：</label>
            <div class="pull-left margin-r-20 radio">
              <label class="margin-r-5"><input type="radio" name="lyfs" /><span>全年放牧</span></label>
              <label class="margin-r-5"><input type="radio" name="lyfs" /><span>冷季放牧</span></label>
              <label class="margin-r-5"><input type="radio" name="lyfs" /><span>暖季放牧</span></label>
              <label class="margin-r-5"><input type="radio" name="lyfs" /><span>春秋放牧</span></label>
              <label class="margin-r-5"><input type="radio" name="lyfs" /><span>打草</span></label>
              <label class="margin-r-5"><input type="radio" name="lyfs" /><span>禁牧</span></label>
              <label class="margin-r-5"><input type="radio" name="lyfs" /><span>其他</span></label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">利用状况：</label>
            <div class="pull-left margin-r-20 radio">
              <label class="margin-r-5"><input type="radio" name="lyzk" /><span>未利用</span></label>
              <label class="margin-r-5"><input type="radio" name="lyzk" /><span>轻度利用</span></label>
              <label class="margin-r-5"><input type="radio" name="lyzk" /><span>合理利用</span></label>
              <label class="margin-r-5"><input type="radio" name="lyzk" /><span>超载</span></label>
              <label class="margin-r-5"><input type="radio" name="lyzk" /><span>严重超载</span></label>
            </div>
          </div>
        </div>
        <h4 class="with-border"><span>评价</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">综合评价：</label>
          <div class="pull-left margin-r-20 radio">
            <label class="margin-r-5"><input type="radio" name="zhpj" /><span>好</span></label>
            <label class="margin-r-5"><input type="radio" name="zhpj" /><span>中</span></label>
            <label class="margin-r-5"><input type="radio" name="zhpj" /><span>差</span></label>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <div class="pull-left">
          <button type="submit" class="btn btn-success margin-r-20 pull-left">保存</button>
          <button type="submit" class="btn btn-default pull-left" ng-click="onCancelCreateDataClick()">取消</button>
        </div>
        <button type="submit" class="pull-right btn btn-default"> 添加灌木样方</button>
      </div>
    </form>
  </div>
</div>
