<div class="box box-success" box-auto-scroll box-auto-child=".scroll-content" box-auto-offset="-56">
  <div class="box-header with-border">
    <h3 class="box-title">
      {{state.workState === STATES.EDIT_DATA ? '编辑工程样地' : ''}}
      {{state.workState === STATES.CREATE_DATA ? '添加工程样地' : ''}}
      {{state.workState === STATES.VIEW_DATA ? '查看工程样地' : ''}}
      <small ng-if="state.workState === STATES.EDIT_DATA || state.workState === STATES.VIEW_DATA">
        数据编号：{{state.currentData}}
      </small>
    </h3>
  </div>
  <div class="box-body no-padding">
    <form class="form-horizontal" novalidate>
      <div class="box-body scroll-content">
        <div class="form-group-sm clearfix"
             ng-hide="state.workState === STATES.VIEW_DATA"
             style="margin-left: -4px;">
          <div class="btn-group" uib-dropdown>
            <button class="btn btn-box-tool text-green"
                    uib-dropdown-toggle>
              <i class="fa fa-file-text-o"></i> 选择工程信息 <span class="caret"></span>
            </button>
            <ul class="uib-dropdown-menu"
                role="menu" aria-labelledby="single-button">
              <li role="menuitem"
                  ng-class="{'active': project.DATA_ID == data.projectParam.DATA_ID}"
                  ng-repeat="project in data.projectList">
                <a href="javascript:;" ng-click="onSelectProjectClick(project)">{{project.P_NAME}}</a>
              </li>
              <li class="text-muted text-center" ng-if="!data.projectList.length">
                没有数据
              </li>
            </ul>
          </div>
          <button class="btn btn-box-tool text-green"
                  ng-disabled="state.projectState == STATES.CREATE_PROJECT || state.projectState == STATES.EDIT_PROJECT"
                  ng-click="onCreateProjectClick()">
            <i class="fa fa-plus-circle"></i> 添加工程信息</span>
          </button>
        </div>
        <span ng-show="state.projectState != STATES.NO_PROJECT">
          <h4 class="with-border" style="margin-top: 10px;"><span>工程信息</span></h4>
          <div class="form-group-sm clearfix">
            <div class="clearfix pull-left margin-r-20">
              <label class="pull-left control-label">工程名称：</label>
              <div class="pull-left w-130">
                <input type="text" class="form-control"
                       ng-disabled="state.projectState === STATES.VIEW_PROJECT"
                       ng-model="data.projectParam.P_NAME"
                />
              </div>
            </div>
            <div class="clearfix pull-left margin-r-20">
              <label class="pull-left control-label">工程措施：</label>
              <div class="pull-left w-130">
                <input type="text" class="form-control"
                     ng-disabled="state.projectState === STATES.VIEW_PROJECT"
                     ng-model="data.projectParam.P_MEASURE"
                />
              </div>
            </div>
            <div class="clearfix pull-left">
              <label class="pull-left control-label">工程面积：</label>
              <div class="pull-left w-130">
                <input type="text" class="form-control"
                     ng-disabled="state.projectState === STATES.VIEW_PROJECT"
                     ng-model="data.projectParam.P_AREA"
                />
              </div>
            </div>
          </div>
          <div class="form-group-sm margin-t-10 clearfix">
            <div class="clearfix pull-left margin-r-20">
              <label class="pull-left control-label">建设时间：</label>
              <div class="input-group w-130">
                <input ng-disabled="state.projectState === STATES.VIEW_PROJECT"
                         type="text" class="form-control datepicker-bootstrap"
                         uib-datepicker-popup
                         ng-model="data.projectParam.COMPLETE_TIME"
                         is-open="__dateIsOpen1"
                         datepicker-options="dateOptions"
                         show-button-bar="false"
                />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="__dateIsOpen1=!__dateIsOpen0"
                          ng-click="__dateIsOpen1=!__dateIsOpen0"
                          ng-disabled="state.projectState === STATES.VIEW_PROJECT"
                  ><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
            <div class="clearfix pull-left margin-r-20">
              <label class="pull-left control-label">项目投资：</label>
              <div class="pull-left w-130">
                <input type="text" class="form-control"
                     ng-disabled="state.projectState === STATES.VIEW_PROJECT"
                     ng-model="data.projectParam.P_FINAC"
                />
              </div>
            </div>
            <div class="clearfix pull-left">
              <label class="pull-left control-label">其中中央：</label>
              <div class="pull-left w-130">
                <input type="text" class="form-control"
                     ng-disabled="state.projectState === STATES.VIEW_PROJECT"
                     ng-model="data.projectParam.C_FINAC"
                />
              </div>
            </div>
          </div>
          <div class="form-group-sm margin-t-10 clearfix">
            <div class="clearfix pull-left margin-r-20">
              <label class="pull-left control-label">所在地区：</label>
              <div class="pull-left" style="width: 210px;">
                <input type="text" ng-disabled="state.projectState === STATES.VIEW_PROJECT"
                       uib-typeahead="address as address.name for address in getLocation($viewValue)"
                       class="form-control"
                       ng-model="projectTmp.region"
                       ng-blur="onProjectRegionBlur()"
                       typeahead-min-length="0"
                >
              </div>
            </div>
            <div class="clearfix pull-left margin-r-20">
              <label class="pull-left control-label">项目地点：</label>
              <div class="pull-left w-130">
                <input type="text" class="form-control"
                       ng-disabled="state.projectState === STATES.VIEW_PROJECT"
                       ng-model="data.projectParam.TOWN_NAME"
                />
              </div>
            </div>
          </div>
        </span>
        <p class="text-center text-red margin-t-10" ng-show="state.projectState == STATES.NO_PROJECT">
          请先选择或添加一条工程信息
        </p>
        <div class="form-group-sm margin-t-10 clearfix"
             ng-hide="state.workState === STATES.VIEW_DATA">
          <div class="pull-right">
            <button class="btn btn-box-tool text-green"
                    ng-click="onEditProjectClick()"
                    ng-show="state.projectState == STATES.VIEW_PROJECT">
              <i class="fa fa-edit"></i> 编辑工程信息</span>
            </button>
            <button class="btn btn-box-tool text-red"
                    ng-click="onSaveProjectClick()"
                    ng-show="state.projectState == STATES.CREATE_PROJECT || state.projectState == STATES.EDIT_PROJECT">
              <i class="fa fa-floppy-o"></i> 保存工程信息</span>
            </button>
          </div>
        </div>

        <h4 class="with-border"><span>基本信息</span></h4>
        <div class="form-group-sm clearfix">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">调查时间：</label>
            <div class="input-group" style="width: 133px;">
              <input ng-disabled="state.workState === STATES.VIEW_DATA"
                     type="text" class="form-control datepicker-bootstrap"
                     uib-datepicker-popup
                     ng-model="data.dataParam.SURVEY_TIME"
                     is-open="__dateIsOpen0"
                     datepicker-options="dateOptions"
                     show-button-bar="false"
              />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="__dateIsOpen0=!__dateIsOpen0"
                        ng-disabled="state.workState === STATES.VIEW_DATA"
                ><i class="fa fa-calendar"></i></button>
              </span>
            </div>
          </div>
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">调查人：</label>
            <div class="pull-left w-145">
              <input type="text" class="form-control"
                     ng-disabled="state.workState === STATES.VIEW_DATA"
                     ng-model="data.dataParam.SURVEY_PERSON"
              />
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">样地名称：</label>
            <div class="pull-left w-130">
              <input ng-disabled="state.workState === STATES.VIEW_DATA"
                     type="text" class="form-control"
                     ng-model="data.dataParam.SAMPLE_PLOT_NAME"
              />
            </div>
          </div>
        </div>
        <!--左右分栏-->
        <div class="clearfix">
          <div class="pull-left margin-r-20">
            <div class="form-group-sm clearfix margin-t-10 hidden">
              <label class="pull-left control-label">景观照片编号：</label>
              <div class="pull-left control-label">
                <span class="text-gray">（提交数据后生成）</span>
              </div>
            </div>
          </div>
          <div class="pull-left margin-t-10 margin-r-20">
            <div class="image-wrapper">
              <span class="image-tooltip text-gray">
                <i class="fa fa-file-image-o"></i><br/>
                <small>请选择工程区内景观照片文件</small>
              </span>
              <a ng-click="$parent.showLightBox(tmp.file1.$ngfBlobUrl || tmp.file1.$ngfDataUrl || tmp._img1)" href="javascript:;">
                <img uib-tooltip="点击查看原图"
                     style="width:100%; height: 100%;"
                     ngf-src="tmp.file1 || tmp._img1"
                >
              </a>
              <span class="image-control"
                    ngf-select ng-model="tmp.file1" name="file1" ngf-pattern="'image/*'"
                    accept="image/*" ngf-max-size="20MB"
                    ng-hide="state.workState === STATES.VIEW_DATA"
              >
                选择工程区内景观照片文件
              </span>
              </i>
            </div>
          </div>

          <div class="pull-left margin-t-10">
            <div class="image-wrapper">
              <span class="image-tooltip text-gray">
                <i class="fa fa-file-image-o"></i><br/>
                <small>请选择工程区外景观照片文件</small>
              </span>
              <a ng-click="$parent.showLightBox(tmp.file2.$ngfBlobUrl || tmp.file2.$ngfDataUrl || tmp._img2)" href="javascript:;">
                <img uib-tooltip="点击查看原图"
                     style="width:100%; height: 100%;"
                     ngf-src="tmp.file2 || tmp._img2"
                >
              </a>
              <span class="image-control"
                    ngf-select ng-model="tmp.file2" name="file2" ngf-pattern="'image/*'"
                    accept="image/*" ngf-max-size="20MB"
                    ng-hide="state.workState === STATES.VIEW_DATA"
              >
                选择工程区外景观照片文件
              </span>
              </i>
            </div>
          </div>
        </div>
        <h4 class="with-border"><span>类型</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">具有灌木和高大草木：</label>
          <div class="pull-left radio">
            <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
              <input
                icheck type="radio" name="jygmhgdcm"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.HAS_BUSH"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">工程区内草地类：</label>
            <div class="pull-left">
              <input type="text" ng-disabled="state.workState === STATES.VIEW_DATA"
                     ng-model="tmp.grassBType1"
                     uib-typeahead="type as type.TYPE_NAME for type in getGrassBType($viewValue)"
                     class="form-control"
                     ng-blur="onTypeBBlur1()"
                     typeahead-min-length="0"
              >
            </div>
          </div>
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">工程区内草地型：</label>
            <div class="pull-left" style="width: 250px;">
              <input type="text" ng-disabled="state.workState === STATES.VIEW_DATA || !data.dataParam.I_GRASS_BG_TYPE_ID"
                     ng-model="tmp.grassSType1"
                     uib-typeahead="type as type.TYPE_NAME for type in getGrassSType($viewValue, data.dataParam.I_GRASS_BG_TYPE_ID)"
                     class="form-control"
                     ng-blur="onTypeSBlur1()"
                     typeahead-min-length="0"
              >
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">工程区外草地类：</label>
            <div class="pull-left">
              <input type="text" ng-disabled="state.workState === STATES.VIEW_DATA"
                     ng-model="tmp.grassBType2"
                     uib-typeahead="type as type.TYPE_NAME for type in getGrassBType($viewValue)"
                     class="form-control"
                     ng-blur="onTypeBBlur2()"
                     typeahead-min-length="0"
              >
            </div>
          </div>
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">工程区外草地型：</label>
            <div class="pull-left" style="width: 250px;">
              <input type="text" ng-disabled="state.workState === STATES.VIEW_DATA || !data.dataParam.O_GRASS_BG_TYPE_ID"
                     ng-model="tmp.grassSType2"
                     uib-typeahead="type as type.TYPE_NAME for type in getGrassSType($viewValue, data.dataParam.O_GRASS_BG_TYPE_ID)"
                     class="form-control"
                     ng-blur="onTypeSBlur2()"
                     typeahead-min-length="0"
              >
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">工程区内地形地貌：</label>
          <div class="pull-left margin-r-20 radio">
            <label ng-repeat="opt in CONST.OPT_DXDM" class="margin-r-5">
              <input
                icheck type="radio" name="i-dxdm"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.I_GEOMORPHOLOGY"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">工程区外地形地貌：</label>
          <div class="pull-left margin-r-20 radio">
            <label ng-repeat="opt in CONST.OPT_DXDM" class="margin-r-5">
              <input
                icheck type="radio" name="o-dxdm"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.O_GEOMORPHOLOGY"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">工程区内土壤质地：</label>
          <div class="pull-left radio">
            <label ng-repeat="opt in CONST.OPT_TRZD" class="margin-r-5">
              <input
                icheck type="radio" name="i-trzd"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.I_SOIL_TEXTURE"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">工程区外土壤质地：</label>
          <div class="pull-left radio">
            <label ng-repeat="opt in CONST.OPT_TRZD" class="margin-r-5">
              <input
                icheck type="radio" name="o-trzd"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.O_SOIL_TEXTURE"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">工程区内坡向：</label>
          <div class="pull-left margin-r-20 radio">
            <label ng-repeat="opt in CONST.OPT_PX" class="margin-r-5">
              <input
                icheck type="radio" name="i-px"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.I_EXPOSURE"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">工程区外坡向：</label>
          <div class="pull-left margin-r-20 radio">
            <label ng-repeat="opt in CONST.OPT_PX" class="margin-r-5">
              <input
                icheck type="radio" name="o-px"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.O_EXPOSURE"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">工程区内坡位：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_PW" class="margin-r-5">
                <input
                  icheck type="radio" name="i-pw"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.I_SLOPE"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">工程区内坡位：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_PW" class="margin-r-5">
                <input
                  icheck type="radio" name="o-pw"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.O_SLOPE"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>
        <h4 class="with-border"><span>地表特征</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">工程区内枯落物情况：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
                <input
                  icheck type="radio" name="i-klwqk"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.I_HAS_LITTER"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">工程区外枯落物情况：</label>
            <div class="pull-left margin-r-20 radio">
              <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
                <input
                  icheck type="radio" name="o-klwqk"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.O_HAS_LITTER"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">工程区内覆沙情况：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
                <input
                  icheck type="radio" name="i-fsqk"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.I_HAS_SAND"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">工程区外覆沙情况：</label>
            <div class="pull-left margin-r-20 radio">
              <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
                <input
                  icheck type="radio" name="o-fsqk"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.O_HAS_SAND"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">工程区内地表侵蚀：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
                <input
                  icheck type="radio" name="i-qsqk"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.I_HAS_EROSION"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">工程区内侵蚀原因：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_QSYY" class="margin-r-5">
                <input
                  icheck type="radio" name="i-qsyy"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.I_CAUSES_EROSION"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20 ">
            <label class="pull-left control-label">工程区外地表侵蚀：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
                <input
                  icheck type="radio" name="o-qsqk"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.O_HAS_EROSION"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">工程区外侵蚀原因：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_QSYY" class="margin-r-5">
                <input
                  icheck type="radio" name="o-qsyy"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.O_CAUSES_EROSION"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>

        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">工程区内盐碱斑：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
                <input
                  icheck type="radio" name="i-yjb"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.I_HAS_SALTALKALI"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">工程区外盐碱斑：</label>
            <div class="pull-left margin-r-20 radio">
              <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
                <input
                  icheck type="radio" name="o-yjb"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.O_HAS_SALTALKALI"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>

        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">工程区内裸地面积比例：</label>
            <div class="pull-left w-130">
              <input ng-disabled="state.workState === STATES.VIEW_DATA"
                     type="text" class="form-control"
                     ng-model="data.dataParam.I_RATIO_BARELAND_AREA"
              />
            </div>
          </div>

          <div class="clearfix pull-left">
            <label class="pull-left control-label">工程区外裸地面积比例：</label>
            <div class="pull-left w-130">
              <input ng-disabled="state.workState === STATES.VIEW_DATA"
                     type="text" class="form-control"
                     ng-model="data.dataParam.O_RATIO_BARELAND_AREA"
              />
            </div>
          </div>
        </div>

        <h4 class="with-border"><span>水分条件</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">工程区内体表有无季节性缺水：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
                <input
                  icheck type="radio" name="i-dbywjjxqs"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.I_HAS_SEASONALWATER"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>

          <div class="clearfix pull-left">
            <label class="pull-left control-label">工程区外体表有无季节性缺水：</label>
            <div class="pull-left margin-r-20 radio">
              <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
                <input
                  icheck type="radio" name="o-dbywjjxqs"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.O_HAS_SEASONALWATER"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">工程区内年平均降水量：</label>
            <div class="pull-left margin-r-5">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.I_AVE_ANNUALRAINFALL"/>
            </div>
            <span class="pull-left control-label">毫米</span>
          </div>

          <div class="clearfix pull-left">
            <label class="pull-left control-label">工程区外年平均降水量：</label>
            <div class="pull-left margin-r-5">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.O_AVE_ANNUALRAINFALL"/>
            </div>
            <span class="pull-left control-label">毫米</span>
          </div>
        </div>
        <h4 class="with-border"><span>利用</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">工程区内利用方式：</label>
            <div class="pull-left margin-r-20 radio">
              <label ng-repeat="opt in CONST.OPT_LYFS" class="margin-r-5">
                <input
                  icheck type="radio" name="i-lyfs"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.I_USE_PATTERN"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">工程区外利用方式：</label>
            <div class="pull-left margin-r-20 radio">
              <label ng-repeat="opt in CONST.OPT_LYFS" class="margin-r-5">
                <input
                  icheck type="radio" name="o-lyfs"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.O_USE_PATTERN"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">工程区内利用状况：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_LYZK" class="margin-r-5">
              <input
                icheck type="radio" name="i-lyzc"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.I_USE_SITUATION"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">工程区外利用状况：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_LYZK" class="margin-r-5">
                <input
                  icheck type="radio" name="o-lyzc"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.O_USE_SITUATION"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>
        <h4 class="with-border"><span>评价</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">工程区内综合评价：</label>
          <div class="pull-left margin-r-20 radio">
            <label ng-repeat="opt in CONST.OPT_ZHPJ" class="margin-r-5">
              <input
                icheck type="radio" name="i-zhpj"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.I_ASSESSMENT"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
          </div>
          <label class="pull-left control-label">工程区外综合评价：</label>
          <div class="pull-left radio">
            <label ng-repeat="opt in CONST.OPT_ZHPJ" class="margin-r-5">
              <input
                icheck type="radio" name="o-zhpj"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.O_ASSESSMENT"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <span ng-include="'save-edit-buttons.html'"></span>

        <span ng-include="'check-form.html'"></span>

        <div class="pull-right dropup" uib-dropdown
             ng-hide="state.workState === STATES.EDIT_DATA ||
                      state.workState === STATES.CREATE_DATA ||
                      state.workStateSuper === STATES.CHECK_DATA"
             ng-click="onCreateDataClick(data.dataParam.HAS_BUSH === CONST.OPT_HAS[0].value ? '7' : '6')"
        >
          <button type="button" class="btn btn-default">
            {{data.dataParam.HAS_BUSH === CONST.OPT_HAS[0].value ? '添加灌木样方' : '添加草本样方'}}
          </button>
          <!--预留给上拉列表-->
          <!--<button type="button" class="btn btn-default" uib-dropdown-toggle>-->
            <!--&lt;!&ndash;<span class="label label-danger">10</span>&ndash;&gt;-->
            <!--<span class="caret"></span>-->
          <!--</button>-->
          <!--<div class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">-->
            <!--<div ng-include="'sub-data-2-1.html'"></div>-->
          <!--</div>-->
        </div>

      </div>
    </form>
  </div>
</div>
