<div class="box box-success" box-auto-scroll box-auto-child=".scroll-content" box-auto-offset="-56">
  <div class="box-header with-border">
    <h3 class="box-title">
      {{state.workState === STATES.EDIT_DATA ? '编辑非工程草本样方' : ''}}
      {{state.workState === STATES.CREATE_DATA ? '添加非工程草本样方' : ''}}
      {{state.workState === STATES.VIEW_DATA ? '查看非工程草本样方' : ''}}
      <small ng-if="state.workState === STATES.EDIT_DATA || state.workState === STATES.VIEW_DATA">
        数据编号：{{state.currentData}}
      </small>
    </h3>
  </div>
  <div class="box-body no-padding">
    <form class="form-horizontal" novalidate>
      <div class="box-body scroll-content">
        <h4 class="with-border"><span>基本信息</span></h4>
        <div class="form-group-sm clearfix">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">调查时间：</label>
            <div class="input-group" style="width: 133px;">
              <input ng-disabled="state.workState === STATES.VIEW_DATA"
                     type="text" class="form-control datepicker-bootstrap"
                     uib-datepicker-popup
                     ng-model="data.dataParam.SURVEY_TIME"
                     is-open="__dateIsOpen0"
                     datepicker-options="dateOptions"
                     show-button-bar="false"
              />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="__dateIsOpen0=!__dateIsOpen0"
                        ng-disabled="state.workState === STATES.VIEW_DATA"
                ><i class="fa fa-calendar"></i></button>
              </span>
            </div>
          </div>
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">调查人：</label>
            <div class="pull-left w-145">
              <input type="text" class="form-control"
                     ng-disabled="state.workState === STATES.VIEW_DATA"
                     ng-model="data.dataParam.SURVEY_PERSON"
              />
            </div>
          </div>

          <div class="clearfix pull-left">
            <label class="pull-left control-label">样方编号：</label>
            <div class="pull-left w-130">
              <input type="text" class="form-control"
                     ng-disabled="state.workState === STATES.VIEW_DATA"
                     ng-model="data.dataParam.QUADRAT_NAME"
              />
            </div>
          </div>
        </div>
        <!--左右分栏-->
        <div class="clearfix">
          <div class="pull-left" style="margin-right: 24px;">
            <div class="form-group-sm clearfix margin-t-10">
              <div class="clearfix pull-left margin-r-20">
                <label class="pull-left control-label">东经：</label>
                <div class="pull-left w-145">
                  <input type="text" class="form-control"
                         ng-disabled="state.workState === STATES.VIEW_DATA"
                         ng-model="data.dataParam.LONGITUDE"
                  />
                </div>
              </div>
              <div class="clearfix pull-left margin-r-20">
                <label class="pull-left control-label">北纬：</label>
                <div class="pull-left w-145">
                  <input ng-disabled="state.workState === STATES.VIEW_DATA"
                         type="text" class="form-control"
                         ng-model="data.dataParam.LATITUDE"
                  />
                </div>
              </div>
            </div>

            <div class="form-group-sm clearfix margin-t-10">
              <div class="clearfix pull-left margin-r-20">
                <label class="pull-left control-label">海拔：</label>
                <div class="pull-left w-145">
                  <input ng-disabled="state.workState === STATES.VIEW_DATA"
                         type="text" class="form-control"
                         ng-model="data.dataParam.ELEVATION"
                  />
                </div>
              </div>

            </div>
            <div class="form-group-sm clearfix margin-t-10">
              <label class="pull-left control-label">景观照片编号：</label>
              <div class="pull-left control-label">
                <span class="text-gray">（提交数据后生成）</span>
              </div>
            </div>
          </div>
          <div class="pull-left margin-t-10">
            <div class="image-wrapper">
              <span class="image-tooltip text-gray">
                <i class="fa fa-file-image-o"></i><br/>
                <small>请选择景观照片文件</small>
              </span>
              <a href="{{tmp.file.$ngfBlobUrl || tmp.file.$ngfDataUrl}}" target="_blank">
                <img uib-tooltip="点击查看原图"
                     style="width:100%; height: 100%;"
                     ngf-src="tmp.file || tmp._img"
                >
              </a>
              <span class="image-control"
                    ngf-select ng-model="tmp.file" name="file" ngf-pattern="'image/*'"
                    accept="image/*" ngf-max-size="20MB"
                    ng-hide="state.workState === STATES.VIEW_DATA"
              >
                选择文件
              </span>
              </i>
            </div>
          </div>
        </div>

        <h4 class="with-border"><span>类型</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">草地类：</label>
            <div class="pull-left w-145">
              <input type="text" ng-disabled="state.workState === STATES.VIEW_DATA"
                     ng-model="tmp.grassBType"
                     uib-typeahead="type as type.TYPE_NAME for type in getGrassBType($viewValue)"
                     class="form-control"
                     ng-blur="onTypeBBlur()"
              >
            </div>
          </div>
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">草地型：</label>
            <div class="pull-left w-145">
              <input type="text" ng-disabled="state.workState === STATES.VIEW_DATA || !data.dataParam.GRASS_BG_TYPE_ID"
                     ng-model="tmp.grassSType"
                     uib-typeahead="type as type.TYPE_NAME for type in getGrassSType($viewValue, data.dataParam.GRASS_BG_TYPE_ID)"
                     class="form-control"
                     ng-blur="onTypeSBlur()"
              >
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">具有灌木和高大草木：</label>
          <div class="pull-left radio">
            <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
              <input
                icheck type="radio" name="jygmhgdcm"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.HAS_BUSH"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">地貌：</label>
            <div class="pull-left margin-r-20 radio">
              <label ng-repeat="opt in CONST.OPT_DXDM" class="margin-r-5">
                <input
                  icheck type="radio" name="dxdm"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.GEOMORPHOLOGY"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
            <label class="pull-left control-label">土壤质地：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_TRZD" class="margin-r-5">
                <input
                  icheck type="radio" name="trzd"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.SOIL_TEXTURE"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">坡向：</label>
          <div class="pull-left margin-r-20 radio">
            <label ng-repeat="opt in CONST.OPT_PX" class="margin-r-5">
              <input
                icheck type="radio" name="px"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.EXPOSURE"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">坡位：</label>
            <div class="pull-left radio">
              <label ng-repeat="opt in CONST.OPT_PW" class="margin-r-5">
                <input
                  icheck type="radio" name="pw"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.SLOPE"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>

        <h4 class="with-border"><span>地表特征</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">枯落物情况：</label>
            <div class="pull-left margin-r-20 radio">
              <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
                <input
                  icheck type="radio" name="klwqk"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.HAS_LITTER"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>
        
        <h4 class="with-border"><span>水分条件</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">体表有无季节性缺水：</label>
            <div class="pull-left margin-r-20 radio">
              <label ng-repeat="opt in CONST.OPT_HAS" class="margin-r-5">
                <input
                  icheck type="radio" name="dbywjjxqs"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.HAS_SEASONALWATER"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">年平均降水量：</label>
            <div class="pull-left margin-r-5 w-145">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.AVE_ANNUALRAINFALL"/>
            </div>
            <span class="pull-left control-label">毫米</span>
          </div>
        </div>
        <h4 class="with-border"><span>利用</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">利用方式：</label>
            <div class="pull-left margin-r-20 radio">
              <label ng-repeat="opt in CONST.OPT_LYFS" class="margin-r-5">
                <input
                  icheck type="radio" name="lyfs"
                  ng-disabled="state.workState === STATES.VIEW_DATA"
                  ng-model="data.dataParam.USE_PATTERN"
                  value="{{opt.value}}"
                />
                <span>{{opt.name}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left">
            <label class="pull-left control-label">利用状况：</label>
            <div class="pull-left margin-r-20 radio">
              <label ng-repeat="opt in CONST.OPT_LYZK" class="margin-r-5">
              <input
                icheck type="radio" name="lyzc"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.USE_SITUATION"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
            </div>
          </div>
        </div>
        <h4 class="with-border"><span>评价</span> </h4>
        <div class="form-group-sm clearfix margin-t-10">
          <label class="pull-left control-label">综合评价：</label>
          <div class="pull-left margin-r-20 radio">
            <label ng-repeat="opt in CONST.OPT_ZHPJ" class="margin-r-5">
              <input
                icheck type="radio" name="zhpj"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                ng-model="data.dataParam.ASSESSMENT"
                value="{{opt.value}}"
              />
              <span>{{opt.name}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <div class="pull-left" ng-hide="state.workState === STATES.VIEW_DATA">
          <button type="submit" class="btn btn-success margin-r-20 pull-left" ng-click="onSaveDataClick()">保存</button>
          <button type="submit" class="btn btn-default pull-left" ng-click="onCancelDataClick()">取消</button>
        </div>

        <div class="pull-left" ng-hide="state.workState === STATES.EDIT_DATA || state.workState === STATES.CREATE_DATA">
          <button type="submit" class="btn btn-success margin-r-20 pull-left" ng-click="onEditDataClick()">编辑</button>
        </div>

        <div class="btn-group pull-right dropup" uib-dropdown
                ng-hide="state.workState === STATES.EDIT_DATA ||
                         state.workState === STATES.CREATE_DATA
                         ">
          <button type="button" class="btn btn-default">
            {{data.dataParam.HAS_BUSH === CONST.OPT_HAS[0].value ? '添加灌木样方' : '添加草本样方'}}
          </button>
          <button type="button" class="btn btn-default" uib-dropdown-toggle>
            <span class="label label-danger">10</span> <span class="caret"></span>
          </button>
          <div class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
            <!--<li role="menuitem"><a href="#">asasas-->
              <div ng-include="'sub-data-2-1.html'"></div>

            <!--</a></li>-->
            <!--<li role="menuitem"><a href="#">Another action</a></li>-->
            <!--<li role="menuitem"><a href="#">Something else here</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li role="menuitem"><a href="#">Separated link</a></li>-->
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
