<style>
  .data-4 .data-4-gk .control-label{
    width: 110px;
  }
</style>
<div class="box box-success data-4" box-auto-scroll box-auto-child=".scroll-content" box-auto-offset="-56">
    <div class="box-header with-border">
    <h3 class="box-title">
      {{state.workState === STATES.EDIT_DATA ? '编辑非工程草本样方' : ''}}
      {{state.workState === STATES.CREATE_DATA ? '添加非工程草本样方' : ''}}
      {{state.workState === STATES.VIEW_DATA ? '查看非工程草本样方' : ''}}
      <small ng-if="state.workState === STATES.EDIT_DATA || state.workState === STATES.VIEW_DATA">
        数据编号：{{state.currentData}}
      </small>
    </h3>
  </div>
    <div class="box-body no-padding">
    <form class="form-horizontal" novalidate>
      <div class="box-body scroll-content">
        <h4 class="with-border"><span>基本信息</span></h4>
        <div class="form-group-sm clearfix">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">调查时间：</label>
            <div class="input-group w-130">
              <input ng-disabled="state.workState === STATES.VIEW_DATA"
                     type="text" class="form-control datepicker-bootstrap"
                     uib-datepicker-popup
                     ng-model="data.dataParam.SURVEY_TIME"
                     is-open="__dateIsOpen0"
                     datepicker-options="dateOptions"
                     show-button-bar="false"
              />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="__dateIsOpen0=!__dateIsOpen0"
                        ng-disabled="state.workState === STATES.VIEW_DATA"
                ><i class="fa fa-calendar"></i></button>
              </span>
            </div>
          </div>
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">调查人：</label>
            <div class="pull-left w-130">
              <input type="text" class="form-control"
                     ng-disabled="state.workState === STATES.VIEW_DATA"
                     ng-model="data.dataParam.SURVEY_PERSON"
              />
            </div>
          </div>

          <div class="clearfix pull-left">
            <label class="pull-left control-label">样方编号：</label>
            <div class="pull-left w-130">
              <input type="text" class="form-control"
                     ng-disabled="state.workState === STATES.VIEW_DATA"
                     ng-model="data.dataParam.QUADRAT_NAME"
              />
            </div>
          </div>
        </div>
        <!--左右分栏-->
        <div class="clearfix">
          <div class="pull-left" style="margin-right: 3px;">
            <div class="form-group-sm clearfix margin-t-10">
              <div class="clearfix pull-left margin-r-20">
                <label class="pull-left control-label">东经：</label>
                <div class="pull-left w-130">
                  <input type="text" class="form-control"
                         ng-disabled="state.workState === STATES.VIEW_DATA"
                         ng-model="data.dataParam.LONGITUDE"
                  />
                </div>
              </div>
              <div class="clearfix pull-left margin-r-20">
                <label class="pull-left control-label">北纬：</label>
                <div class="pull-left w-130">
                  <input ng-disabled="state.workState === STATES.VIEW_DATA"
                         type="text" class="form-control"
                         ng-model="data.dataParam.LATITUDE"
                  />
                </div>
              </div>
            </div>

            <div class="form-group-sm clearfix margin-t-10">
              <div class="clearfix pull-left margin-r-20">
                <label class="pull-left control-label">海拔：</label>
                <div class="pull-left w-130">
                  <input ng-disabled="state.workState === STATES.VIEW_DATA"
                         type="text" class="form-control"
                         ng-model="data.dataParam.ELEVATION"
                  />
                </div>
              </div>
            </div>
            <div class="form-group-sm clearfix margin-t-10 hidden">
              <label class="pull-left control-label">景观照片编号：</label>
              <div class="pull-left control-label">
                <span class="text-gray">（提交数据后生成）</span>
              </div>
            </div>
          </div>
          <div class="pull-left margin-t-10">
            <div class="image-wrapper">
              <span class="image-tooltip text-gray">
                <i class="fa fa-file-image-o"></i><br/>
                <small>请选择景观照片文件</small>
              </span>
                <a ng-click="$parent.showLightBox(tmp.file.$ngfBlobUrl || tmp.file.$ngfDataUrl || tmp._img)" href="javascript:;">
                <img uib-tooltip="点击查看原图"
                     style="width:100%; height: 100%;"
                     ngf-src="tmp.file || tmp._img"
                >
              </a>
              <span class="image-control"
                    ngf-select ng-model="tmp.file" name="file" ngf-pattern="'image/*'"
                    accept="image/*" ngf-max-size="20MB"
                    ng-hide="state.workState === STATES.VIEW_DATA"
              >
                选择文件
              </span>
              </i>
            </div>
          </div>
        </div>

        <h4 class="with-border"><span>概况</span> </h4>
        <span class="data-4-gk">
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">样地面积：</label>
            <div class="pull-left w-145">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.QUADRAT_AREA"/>
            </div>
          </div>

          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">植物盖度：</label>
            <div class="pull-left w-145">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.COV_VEGETATION"/>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">草群平均高度：</label>
            <div class="pull-left w-145">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.AVG_GRASSHEIGHT"/>
            </div>
          </div>
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">枯落物情况：</label>
            <div class="pull-left margin-r-20">
              <input to-number
                     ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.WEIGHT_LITTER"/>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">植物种数：</label>
            <div class="pull-left w-145">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.NUM_TYPE_PLANT"/>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">主要植物种：</label>
            <div class="pull-left w-145">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.MAIN_PLANT"/>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">主要不可食草种数：</label>
            <div class="pull-left w-145">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.NUM_TYPE_HARMFUL"/>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">主要不可食草名称：</label>
            <div class="pull-left w-145">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.MAIN_HARMFUL"/>
            </div>
          </div>
        </div>

        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">总产草量鲜重：</label>
            <div class="pull-left w-145">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.FWEIGHT_TOTALGRASS"/>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">总产草量风干重：</label>
            <div class="pull-left w-145">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.DWEIGHT_TOTALGRASS"/>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">可食产草量鲜重：</label>
            <div class="pull-left w-145">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.FWEIGHT_EATGRASS"/>
            </div>
          </div>
          <div class="clearfix pull-left">
            <label class="pull-left control-label">可食产草量风干重：</label>
            <div class="pull-left w-145">
              <input ng-disabled="state.workState === STATES.VIEW_DATA" type="text" class="form-control" ng-model="data.dataParam.DWEIGHT_EATGRASS"/>
            </div>
          </div>
        </div>
        <div class="form-group-sm clearfix margin-t-10">
          <div class="clearfix pull-left margin-r-20">
            <label class="pull-left control-label">备注：</label>
            <div class="pull-left w-145">
              <textarea
                style="width: 400px;"
                rows="3"
                ng-disabled="state.workState === STATES.VIEW_DATA"
                type="text" class="form-control"
                ng-model="data.dataParam.REMARK">
              </textarea>
            </div>
          </div>
        </div>
        </span>
      </div>
      <div class="box-footer">
        <span ng-include="'save-edit-buttons.html'"></span>
        <span ng-include="'check-form.html'"></span>
      </div>
    </form>
  </div>
</div>
