<div class="modal-header">
  <button type="button" class="close" ng-click="cancel();$event.stopPropagation();$event.preventDefault();">&times;</button>
  <h3 class="modal-title">修改密码</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="modifyPassword" ng-submit="onChangePassword()" novalidate>
    <div class="form-group">
      <label class="col-sm-3 control-label">用户</label>
      <div class="col-sm-7 form-control-static">
        {{data.user.USERNAME}} （{{data.user.USERCAPTION}} / {{data.user.USERDEPTNAME}}）
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">新密码</label>
      <div class="col-sm-7">
        <input type="password" ng-model="paramData.NEW_PWD" class="form-control" required>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !isValid()}">
      <label class="col-sm-3 control-label">确认新密码</label>
      <div class="col-sm-7">
        <input type="password" ng-model="paramData.NEW_PWD2" class="form-control" required>
      </div>
      <p ng-show="!isValid()" class="col-sm-offset-3 col-sm-7 help-block">新密码与旧密码不一致</p>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <button type="submit" class="btn btn-success margin-r-20" ng-disabled="modifyPassword.$invalid || !isValid()">提交</button>
        <button ng-click="cancel();$event.preventDefault();" class="btn btn-default">取消</button>
      </div>
    </div>
  </form>
</div>
