<div class="content-wrapper" style="overflow: hidden;">
  <section class="content-header">
    <h1> 数据上报 <small>还有 <a class="text-danger" href="javascript:;" ng-click="onShowTaskClick()"><strong>{{data.missions.length}}</strong></a> 条未上报任务</small> </h1>
    <ol class="breadcrumb">
      <li>
        <a href="javascript:;" ng-click="onShowTaskClick()">
          <i class="fa fa-files-o"></i> 数据上报
        </a>
      </li>
      <li>
        {{
        state.createData ? "添加数据":
        (state.createTask ? "创建任务":
        (state.currentData ? "数据列表":"未上报任务"))
        }}
      </li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-5"
           ng-hide="(state.workState === STATES.VIEW_DATA) ||
           (state.workState === STATES.CREATE_DATA) ||
           (state.workState === STATES.EDIT_DATA)"
      >
        <div class="box box-success" box-auto-scroll>
          <div class="box-header">
            <h3 class="box-title">未上报任务</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool text-green" ng-click="onCreateTaskClick()"
                      ng-disabled="state.workState === STATES.CREATE_TASK"
              >
                <i class="fa fa-plus-circle"></i> <span>创建任务</span>
              </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <table class="table table-condensed table-hover">
              <thead>
              <tr>
                <th width="25%">任务名称</th>
                <th width="25%">审核状态</th>
                <th>审核意见</th>
                <th width="40">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-if="!data.missions.length">
                <td colspan="5" class="text-center text-muted">
                  <br/>没有未上报的任务<br/><br/>
                </td>
              </tr>
              <tr
                ng-click="onShowDataListClick(item.MISSION_ID, item.MISSION_NAME)"
                style="cursor: pointer"
                ng-repeat="item in data.missions"
                class="{{item.MISSION_ID === state.currentTask ? 'active' : ''}}"
              >
                <td>{{item.MISSION_NAME}}</td>
                <td><span class="label label-default">{{item.MISSION_CHECK}}</span></td>
                <td><span class="word-keep-line"
                          title="{{item.MISSION_CHEMSG}}">
                  {{item.MISSION_CHEMSG}}
                </span></td>
                <td>
                  <button
                    ng-click="onSubmitTaskClick(item.MISSION_ID, item.MISSION_NAME);$event.stopPropagation();"
                    class="btn btn-xs btn-link text-red"
                    uib-tooltip="提交任务"
                    tooltip-append-to-body="true"
                  >
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-{{state.workState === STATES.VIEW_DATA_LIST?7:5}}"
           ng-hide="state.workState === STATES.CREATE_TASK"
      >
        <div class="box box-success" box-auto-scroll>
          <div class="box-header">
            <h3 class="box-title">数据列表
              <small ng-if="state.currentTask">任务名称：{{state.currentTaskName}} </small>
              <small ng-if="!state.currentTask">请先在左侧选择一项任务</small>
            </h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool text-gray"
                      ng-hide="state.workState === STATES.VIEW_DATA_LIST"
                      ng-click="onShowTaskClick()">
                <i class="fa fa-reply"></i> 任务列表
              </button>

              <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-box-tool text-green"
                        ng-disabled="!state.currentTask"
                        uib-dropdown-toggle>
                  <i class="fa fa-plus-circle"></i> 添加数据 <span class="caret"></span>
                </button>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a href="javascript:;" ng-click="onCreateDataClick('2')">{{CONST.DATA_TYPE['2']}}</a></li>
                  <li role="menuitem"><a href="javascript:;">{{CONST.DATA_TYPE['3']}}</a></li>
                  <li class="divider"></li>
                  <li role="menuitem"><a href="javascript:;">{{CONST.DATA_TYPE['11']}}</a></li>
                  <li role="menuitem"><a href="javascript:;">{{CONST.DATA_TYPE['12']}}</a></li>
                  <li role="menuitem"><a href="javascript:;">{{CONST.DATA_TYPE['13']}}</a></li>
                  <li class="divider"></li>
                  <li role="menuitem"><a href="javascript:;">{{CONST.DATA_TYPE['9']}}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="box-body no-padding">
            <table class="table table-condensed table-hover">
              <thead>
              <tr>
                <th width="25%">数据编号</th>
                <th width="25%">数据类型</th>
                <th width="20%">审核状态</th>
                <th>审核意见</th>
                <!--<th width="40">操作</th>-->
              </tr>
              </thead>
              <tbody>
              <tr ng-if="!data.dataList.length">
                <td colspan="4" class="text-center text-muted">
                  <br/>没有数据<span ng-if="!state.currentTask">，请先在左侧选择一项任务 </span>
                  <br/><br/>
                </td>
              </tr>
              <tr style="cursor: pointer;"
                  ng-repeat="item in data.dataList"
                  class="{{state.currentData===item.DATA_ID?'active':''}}"
                  ng-click="onShowDataClick(item.DATA_ID, item.DATA_TYPE)"
              >
                <td><span class="word-keep-line" title="{{item.DATA_ID}}">{{item.DATA_ID}}</span></td>
                <td>{{CONST.DATA_TYPE[''+item.DATA_TYPE]}}</td>
                <td><span class="label label-default">{{item.CHECK_STU}}</span></td>
                <td><span class="word-keep-line" title="{{item.CHECK_MSG}}">{{item.CHECK_MSG}}</span></td>
                <!--<td></td>-->
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-{{state.createTaskFull ? 12 : 7}}"
           ng-hide="state.workState !== STATES.CREATE_TASK"
      >
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">创建任务</h3>
            <div class="box-tools pull-right hidden" ng-click="createTaskFull()">
              <button class="btn btn-box-tool"><i class="fa fa-{{state.createTaskFull? 'compress':'expand'}}"></i> </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <form class="form-horizontal" name="createTaskForm" ng-submit="createTask()" novalidate>
              <div class="box-body">
                <div class="form-group-sm clearfix">
                  <div class="clearfix pull-left margin-r-20">
                    <label class="pull-left control-label">选择部门：
                    </label>
                    <div class="pull-left">
                      <div style="width: 200px;" ui-select ng-model="data.taskParamData.MISSION_CODE" theme="bootstrap">
                        <div ui-select-match>{{$select.selected.deptName}}</div>
                        <div ui-select-choices repeat="dept.deptCode as dept in data.userDepts">
                          <span>{{dept.deptName}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix pull-left margin-r-20">
                    <label class="pull-left control-label">任务名称：</label>
                    <div class="pull-left">
                      <input ng-model="data.taskParamData.MISSION_NAME" type="text" class="form-control" required/>
                    </div>
                  </div>
                </div>
                <div class="form-group-sm clearfix margin-t-10">
                  <div class="clearfix pull-left">
                    <label class="pull-left control-label">任务备注：</label>
                    <div class="pull-left">
                      <textarea ng-model="data.taskParamData.MISSION_NOTE" type="text" class="form-control" rows="3" style="width: 413px;">
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <div class="pull-left">
                  <button type="submit" class="btn btn-success margin-r-20 pull-left" ng-disabled="createTaskForm.$invalid">保存</button>
                  <button class="btn btn-default pull-left" ng-click="cancelCreateTask()">取消</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--创建数据或查看数据时显示-->
      <div class="col-md-7"
           ng-hide="state.workState !== STATES.VIEW_DATA &&
            state.workState !== STATES.EDIT_DATA &&
            state.workState !== STATES.CREATE_DATA"
      >
        <div ng-include="state.workTemplate"></div>
      </div>
    </div>
  </section>
</div>
