<div class="pull-left" ng-hide="state.workState === STATES.VIEW_DATA">
  <button type="submit" class="btn btn-success margin-r-20 pull-left" ng-click="onSaveDataClick()">保存</button>
  <button class="btn btn-default pull-left" ng-click="onCancelDataClick()">取消</button>
</div>

<div class="pull-left"
     uib-tooltip="{{!canEdit() ? '当前审核状态下不允许修改数据' : ''}}"
     ng-hide="state.workState === STATES.EDIT_DATA ||
                                        state.workState === STATES.CREATE_DATA ||
                                        state.workStateSuper === STATES.CHECK_DATA">
  <button type="submit"
          class="btn btn-success pull-left"
          ng-disabled="!canEdit()"
          ng-click="onEditDataClick()">编辑</button>
</div>
