<div class="modal-header">
  <button type="button" class="close"
          ng-click="cancel();$event.stopPropagation();$event.preventDefault();">&times;</button>
  <h3 class="modal-title">修改下级用户密码</h3>
</div>
<div class="modal-body">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>用户名</th>
      <th>显示名称</th>
      <th>所属单位</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="!data.userList.length">
      <td colspan="4" class="text-center text-muted">
        <br>没有数据</span>
        <br><br>
      </td>
    </tr>
    <tr ng-repeat="user in data.userList">
      <td>{{user.USERNAME}}</td>
      <td>{{user.USERCAPTION}}</td>
      <td>{{user.USERDEPTNAME}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-xs"
            ng-click="changePassword(user)">
          <i class="fa fa-pencil-square-o"></i> 修改密码
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
