<!DOCTYPE html>
<html ng-controller="rootController" ng-class="{'loginPage':state.isLoginPage}">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>全国草原监测信息报送管理系统</title>
  <link rel="icon" type="image/x-icon" href="/src/img/favicon.ico">
  <link type="text/css" rel="stylesheet" href="/components/bootstrap/css/bootstrap.css"/>
  <link type="text/css" rel="stylesheet" href="/components/font-awesome/css/font-awesome.css"/>
  <link type="text/css" rel="stylesheet" href="/components/angular-ui-select/select.css"/>
  <link type="text/css" rel="stylesheet" href="/components/jquery-perfect-scrollbar/perfect-scrollbar.css"/>
  <link type="text/css" rel="stylesheet" href="/components/angular-bootstrap-lightbox/angular-bootstrap-lightbox.css"/>
  <link type="text/css" rel="stylesheet" href="/src/css/AdminLTE.css"/>
  <link type="text/css" rel="stylesheet" href="/src/css/skins/skin-green-light.css"/>
  <link type="text/css" rel="stylesheet" href="/src/css/app.less"/>
</head>
<body>
  <div class="skin-green-light sidebar-mini {{state.sidebarCollapse?'sidebar-collapse':'sidebar-open'}}">
    <header class="main-header" ng-hide="state.isLoginPage">
      <!--style="visibility: hidden"-->
      <nav class="navbar navbar-static-top" role="navigation">
        <a href="javascript:;" ng-click="onSidebarCollapseClick()" class="sidebar-toggle">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <span class="logo">
          <span class="logo-lg"><img src="/src/img/logo-lg.png"/></span>
        </span>
        <div class="navbar-custom-menu" ng-hide="state.isLoginPage">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu" uib-dropdown>
              <a href="javascript:;"
                 class="dropdown-toggle" uib-dropdown-toggle>
                <i class="fa fa-user"></i>
                <span class="hidden-xs">{{$parent.data.user.username}}</span>
              </a>
              <ul class="dropdown-menu uib-dropdown-menu" aria-labelledby="single-button">
                <li class="user-header">
                  <p>
                    <span>{{$parent.data.user.userRealName}}</span>
                    <small>{{$parent.data.role.roleName}}</small>
                  </p>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:;" ng-click="onModifyPassword()"><i class="fa fa-password"></i>修改密码</a>
            </li>
            <li>
              <a href="javascript:;" ng-click="onLogoutClick()">退出登录</a>
            </li>
            <!--<li>-->
              <!--<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>-->
            <!--</li>-->
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar" ng-hide="state.isLoginPage">
      <section class="sidebar">
        <ul class="sidebar-menu">
          <li class="header">功能导航</li>
          <li ng-class="{'active':state.activeNav==='report'}" ng-hide="!$parent.data.role.states.report">
          <a ui-sref="report">
            <i class="fa fa-files-o"></i> <span>数据上报</span>
          </a>
          </li>
          <li ng-class="{'active':state.activeNav==='check'}" ng-hide="!$parent.data.role.states.check">
            <a ui-sref="check"><i class="fa fa-book"></i> <span>数据审核</span></a>
          </li>
          <li ng-class="{'active':state.activeNav==='search'}" ng-hide="!$parent.data.role.states.search">
            <a ui-sref="search">
              <i class="fa fa-search"></i> <span>数据查询</span>
            </a>
          </li>
          <li ng-class="{'active':state.activeNav==='statistics'}">
            <a ui-sref="statistics"><i class="fa fa-pie-chart"></i> <span>数据统计</span></a>
          </li>
          <!--
          <li class="header">常用功能</li>
          <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>创建任务</span></a></li>
          <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>添加非工程样地</span></a></li>
          -->
        </ul>
        <ul class="sidebar-menu" style="position: absolute;bottom: 16px;width: 100%;">
          <li>
            <a id="udesk-im-10" href="javascript:;">
              <i class="fa fa-comments-o"></i>
              <span>联系客服</span>
            </a>
            <script>var imEle = document.getElementById("udesk-im-10");imEle.onclick = function(){window.open("http://www.bjtcservice.udesk.cn/im_client?cur_url="+escape(location.href)+"&pre_url="+escape(document.referrer),"udesk_im","width=780,height=560,top=200,left=350,resizable=yes");};</script>
          </li>
        </ul>
      </section>
    </aside>
    <ui-view></ui-view>
  </div>


  <i class="pageLoading"
     ng-class="{'blur':$parent.state.isPageLoaded}"
     ng-hide="$parent.state.isPageLoaded && !$parent.state.isLoading">
    <div class="page-loading-wrapper">
      <div class="spinner">
        <div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div>
      </div>
    </div>
  </i>

  <script src="/static/require.js"></script>
  <script>
    var CONF = {
      baseUrl: '/CYJC'
    };
    requirejs.config({
      waitSeconds: 1000
    });
    require(['angular', 'jquery'], function(angular, $) {
      window.angular = angular;
      window.$ = window.jQuery = $;
      require(['/src/js/app']);
    });
  </script>
</body>
</html>
