@import 'lib/icheckbox.less';

*:focus {
  outline: none;
}

.table-condensed {
  font-size: 12px;
}


.radio label, .checkbox label {
  padding-left: 0;
}
.form-horizontal .form-group-sm .radio input[type="radio"] {
  margin-left: 0;
}

.form-group-sm .input-group-btn .btn {
  padding: 4px 10px;
}

.form-control.datepicker-bootstrap:focus {
  border-color: #d2d6de;
}
.datepicker-bootstrap ~ .dropdown-menu .btn-default {
  background-color: #fff;
  border-width: 0;
  color: #000;
  &.active {
    border-width: 1px;
    &,.text-info {
      color: #fff;
    }
    background-color: #00a157;
  }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #f8f8f8;
  border: none;
}


.wordk-keep-line {
  white-space: nowrap !important;
  word-break: keep-all !important;
}

.tooltip-inner {
  min-width: 70px;
}

.btn-group.open .btn-box-tool.dropdown-toggle {
 box-shadow: none;
}

//登录状态
.login {
  .content-wrapper{
    margin-left: 0;
    transform: translate(0, 0);
  }
  .logo {
    position: static;
  }
  &[ng-cloak] {
    .navbar-custom-menu,
    .main-sidebar,
    .sidebar-toggle {
      display: none;
    }
  }
}

.login-box {
  margin-top: 80px;
  .input-group-addon .fa {
    width: 16px;
  }
  .box-body {
    padding: 20px;
  }
}

.pageLoading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ecf0f5;
  z-index: 1040;
  &.blur {
    background: rgba(0,0,0,0.15);
  }
}


.spinner {
  position: absolute;
  text-align: center;
  top: 95px;
  left: 0;
  width: 100%;
}

.spinner > div {
  width: 22px;
  height: 22px;
  background-color: rgba(31,190,106,0.85);//#11acff;
  margin: 0 4px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
